extends ../layouts/default.pug 

block main 
    h1.box-title Quản lý đơn hàng

    //- Section 4
    .section-4 
        .inner-wrap
            .inner-item 
                <i class="fa-solid fa-filter"></i> Bộ lọc
            .inner-item    
                select(filter-status) 
                    option(value="") Trạng thái
                    option(value="initial") Khởi tạo
                    option(value="done") Hoàn thành
                    option(value="cancel") Đã huỷ
            .inner-item 
                input(type="date" filter-start-date)
                span -
                input(type="date" filter-end-date) 
            .inner-item     
                select(filter-payment-method) 
                    option(value="") Phương thức thanh toán
                    option(value="money") Tiền mặt
                    option(value="vnpay") VNPay
                    option(value="bank") Chuyển khoản
            .inner-item     
                select(filter-payment-status) 
                    option(value="") Trạng thái thanh toán
                    option(value="unpaid") Chưa thanh toán
                    option(value="paid") Đã thanh toán
            .inner-item.inner-reset(filter-reset)
                <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
    //- End Section 4

    //- Section 5
    .section-5 
        .inner-wrap 
            .inner-search
                <i class="fa-solid fa-magnifying-glass"></i> 
                input(type="text" placeholder="Tìm kiếm")
    //- End Section 5

    //- Section 6
    .section-6 
        .table-2 
            table 
                thead 
                    tr 
                        th Mã
                        th Thông tin khách  
                        th Danh sách tour
                        th Thanh toán
                        th Trạng thái
                        th.inner-center Ngày đặt
                        th Hành động 
                tbody 
                    each orderDetail in orderList
                        tr 
                            td 
                                .inner-code #{orderDetail.code}
                            td 
                                div Họ tên: #{orderDetail.fullName}
                                div SĐT: #{orderDetail.phone}
                                div Ghi chú: #{orderDetail.note}
                            td 
                                .inner-list     
                                    each item in orderDetail.items
                                        .inner-item
                                            .inner-image 
                                                img(src=item.avatar, alt="")
                                            .inner-info
                                                .inner-name #{item.name}
                                                .inner-quantity
                                                    div Người lớn: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                                                    div Trẻ em: #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                                                    div Em bé: #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("vi-VN")}đ
                            td 
                                div Tạm tính: #{orderDetail.subTotal.toLocaleString("vi-VN")}đ
                                div Giảm: #{orderDetail.discount.toLocaleString("vi-VN")}đ
                                //- div Mã giảm: TOURMUAHE2024
                                div Thanh toán: #{orderDetail.total.toLocaleString("vi-VN")}đ
                                div PTTT: #{orderDetail.paymentMethodName}
                                div TTTT: #{orderDetail.paymentStatusName}
                            td 
                                div(class=`badge badge-${orderDetail.statusInfo.color}`) #{orderDetail.statusInfo.label}
                                //- .badge.badge-green Đã duyệt
                                //- .badge.badge-red Đã hủy
                            td.inner-center 
                                div #{orderDetail.createdAtTime}
                                div #{orderDetail.createdAtDate}
                            td 
                                .inner-buttons
                                        a(href=`/${pathAdmin}/order/edit/${orderDetail.id}` class="inner-edit")
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        button(class="inner-delete") 
                                            <i class="fa-regular fa-trash-can"></i>
    //- End Section 6

    //- Section 7
    .section-7 
        span.inner-label Hiển thị 1 - 9 của 78
        select(class="inner-pagination")
            option(value="") Trang 1  
            option(value="") Trang 2  
            option(value="") Trang 3  
    //- End Section 7