extends ../layouts/default.pug 
include ../mixins/options.pug

block main 
    h1.box-title Chỉnh sửa tour

    //- Section 8
    .section-8 
        form(id="tour-edit-form")
            .inner-group(style="display: none;")
                label(for="id" class="inner-label") Id
                input(type="text" id="id" name="id" value=tourDetail.id)
            .inner-group 
                label(for="name" class="inner-label") Tên tour
                input(type="text" id="name" name="name" value=tourDetail.name)
            .inner-group 
                label(for="category" class="inner-label") Danh mục
                select(id="category" name="category")
                    option(value="") -- Chọn danh mục --  
                    +options(categoryList, 0, tourDetail.category)
            .inner-group 
                label(for="position" class="inner-label") Vị trí
                input(type="number" id="position" name="position" value=tourDetail.position)
            .inner-group 
                label(for="status" class="inner-label") Trạng thái
                select(id="status" name="status")
                    option(
                        value="active" 
                        selected=(tourDetail.status == "active" ? true : false)
                        ) Hoạt động
                    option(
                        value="inactive" 
                        selected=(tourDetail.status == "inactive" ? true : false)
                        ) Tạm dừng
            .inner-group.inner-two-col 
                label(for="avatar" class="inner-label") Ảnh đại diện
                .inner-upload-image(image-default=tourDetail.avatar)
                    input(type="file" id="avatar" filepond-image name="avatar")
            .inner-group.inner-two-col 
                label(for="images" class="inner-label") Danh sách ảnh
                .inner-upload-image-multi(list-image-default=tourDetail.images)
                    input(
                        type="file" 
                        id="images" 
                        name="images" 
                        filepond-image-multi 
                        multiple
                        data-allow-reorder="true"
                        data-max-files="10"
                        )
            .inner-group 
                label(class="inner-label") Giá cũ
                .inner-input-list 
                    .inner-input-item
                        label(for="priceAdult") Người lớn
                        input(type="number" id="priceAdult" name="priceAdult" value=tourDetail.priceAdult)
                    .inner-input-item
                        label(for="priceChildren") Trẻ em
                        input(type="number" id="priceChildren" name="priceChildren" value=tourDetail.priceChildren)
                    .inner-input-item
                        label(for="priceBaby") Em bé
                        input(type="number" id="priceBaby" name="priceBaby" value=tourDetail.priceBaby)
            .inner-group 
                label(class="inner-label") Giá mới
                .inner-input-list 
                    .inner-input-item
                        label(for="priceNewAdult") Người lớn
                        input(type="number" id="priceNewAdult" name="priceNewAdult" value=tourDetail.priceNewAdult)
                    .inner-input-item
                        label(for="priceNewChildren") Trẻ em
                        input(type="number" id="priceNewChildren" name="priceNewChildren" value=tourDetail.priceNewChildren)
                    .inner-input-item
                        label(for="priceNewBaby") Em bé
                        input(type="number" id="priceNewBaby" name="priceNewBaby" value=tourDetail.priceNewBaby)
            .inner-group 
                label(class="inner-label") Còn lại
                .inner-input-list 
                    .inner-input-item
                        label(for="stockAdult") Người lớn
                        input(type="number" id="stockAdult" name="stockAdult" value=tourDetail.stockAdult)
                    .inner-input-item
                        label(for="stockChildren") Trẻ em
                        input(type="number" id="stockChildren" name="stockChildren" value=tourDetail.stockChildren)
                    .inner-input-item
                        label(for="stockBaby") Em bé
                        input(type="number" id="stockBaby" name="stockBaby" value=tourDetail.stockBaby)
            .inner-group 
                label(class="inner-label") Những địa điểm có tour (Điểm đi)
                .inner-checkbox-list 
                    each item in cityList
                        .inner-checkbox-item 
                            input(
                                type="checkbox" 
                                id=`location-${item.id}` 
                                name="locations" 
                                value=item.id
                                checked=(tourDetail.locations.includes(item.id))
                                )
                            label(
                                for=`location-${item.id}`
                                ) #{item.name}
            .inner-group 
                label(class="inner-label") Điểm đến (có thể chọn nhiều)
                .inner-checkbox-list 
                    each item in cityList
                        .inner-checkbox-item 
                            input(
                                type="checkbox" 
                                id=`destination-${item.id}` 
                                name="destination" 
                                value=item.id
                                checked=(tourDetail.destination.map(String).includes(String(item.id)))
                                )
                            label(
                                for=`destination-${item.id}`
                                ) #{item.name}
            .inner-group 
                label(for="time" class="inner-label") Thời gian
                input(type="text" id="time" name="time" value=tourDetail.time)
            .inner-group 
                label(for="vehicle" class="inner-label") Phương tiện
                input(type="text" id="vehicle" name="vehicle" value=tourDetail.vehicle)
            .inner-group 
                label(for="departureDate" class="inner-label") Ngày khởi hành
                input(type="date" id="departureDate" name="departureDate" value=tourDetail.departureDateFormat)
            .inner-group.inner-two-col 
                label(for="information" class="inner-label") Thông tin tour
                textarea(id="information" textarea-mce name="information") #{tourDetail.information}
            .inner-group.inner-two-col
                label(class="inner-label") Lịch trình tour
                .inner-schedule
                    .inner-schedule-list 
                        if(tourDetail.schedules.length > 0)
                            each item in tourDetail.schedules
                                .inner-schedule-item
                                    .inner-schedule-head 
                                        span(class="inner-schedule-button inner-move") 
                                            <i class="fa-solid fa-up-down-left-right"></i>
                                        input(type="text" value=item.title)
                                        span(class="inner-schedule-button inner-remove") 
                                            <i class="fa-regular fa-trash-can"></i>
                                        span(class="inner-schedule-button inner-more") 
                                            <i class="fa-solid fa-chevron-down"></i>
                                    .inner-schedule-body 
                                        textarea(textarea-mce) #{item.description}
                        else
                            .inner-schedule-item
                                .inner-schedule-head 
                                    span(class="inner-schedule-button inner-move") 
                                        <i class="fa-solid fa-up-down-left-right"></i>
                                    input(type="text")
                                    span(class="inner-schedule-button inner-remove") 
                                        <i class="fa-regular fa-trash-can"></i>
                                    span(class="inner-schedule-button inner-more") 
                                        <i class="fa-solid fa-chevron-down"></i>
                                .inner-schedule-body 
                                    textarea(textarea-mce)
                    .inner-schedule-create + Thêm lịch trình
            .inner-button.inner-two-col 
                button Cập nhật
        .inner-back
            a(href=`/${pathAdmin}/tour/list`) Quay lại danh sách 
    //- End Section 8